body {
    background-color: linen;
    font-family: sans-serif;
    color:dimgrey;
}
h1 {
    color: maroon;
    margin-left: 20px;
}
h3 {
  display: inline;
  margin-right: 2px;
  overflow: None;
} 
h4 {
  display: inline;
  color: deeppink;
}
p {
    margin-left: 40px;
}
li {
  text-align: left;
}

label{
  display:inline-block;
  width:100px;
  margin-right:20px;
  text-align:right;
  margin-left: 10px;
  font-weight: bold;
}

fieldset{
  border:none;
  width:400px;
  margin:0px auto;
}

input[type="submit"]{
  padding: 8px 3px 2px;
  background: navajowhite;
  border-radius: 2px;
  color: dimgrey;
  border: 1px solid dimgrey;
  font-weight: bold;
  text-shadow: 1px 1px 1px darkorange;
}

input[type="button"] {
  padding: 8px 3px 2px;
  background-color: navajowhite;
  border-radius: 2px;
  color: dimgrey;
  border: 1px solid dimgrey;
  font-weight: bold;
  text-shadow: 1px 1px 1px darkorange;
}

table.tablesorter tfoot tr th {
background-color: navajowhite;
}

td {
  font-family:"Courier New", Courier, monospace;
  font-size: 12px;
}

ul {
  padding-left: 16px;
}

#header {
  background-color: #343434;
  height: 180px;
  position: relative;
  border-bottom: 3px solid;
  border-color: darkgrey;
  margin: -8px;
  margin-bottom: 40px;
}

#header span {
  background: url("/static/logo.png") no-repeat scroll 0% 0% transparent;
  width: 180px;
  height: 28px;
  display: block;
  position: absolute;
  margin: 70px 40px;
}

#managertext {
  position: absolute;
  left: 100px;
  bottom: -4px;
  color: darkorange;
}

#login {
  background-color: navajowhite;
  padding: 10px;
  border: 2px solid;
  border-radius: 4px;
  width: 400px;
  border-color: darkorange;
  right: 20px;
  top: 20px;
  position: absolute;
  height: 120px;
}

#loginlogout {
  float:right;
  margin: 12px 40px;
}

#loginlogout input {
  padding: 6px 6px 3px;
}

div#error {
  overflow: scroll;
  height: 1em;
  padding: 4px;
}

#footer {
  background-color: #343434;
  height: 50px;
  position: relative;
  border-top: 3px solid;
  border-color: darkgrey;
  margin: 40px -8px 0px;
}

#footer a {
  margin: 10px 20px 30px 0px;
  color:darkorange;
  text-decoration: none;
  margin-left: 40px;
  position: relative;
  bottom: -14px;
}

#footer a:hover {
  text-decoration: underline;
}

#footer a:visited {
  color: navajowhite;
}

#introtext {
  background-color: Gainsboro;
  color: dimgrey;
  padding: 10px;
  width: 900px;
  border: 2px solid;
  border-radius: 4px;
  border-color: dimgrey;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.loginfield {
  width: 220px;
  border-color: darkorange;
  margin: 1px 0px;
  height: 20px;
  background-color: linen;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
}

.section {
  margin: 10px;
  margin-left: 0px;
  margin-top:20px;
}

/* animation effects for headers */

nav div a {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  outline: none;
  color: #009ACD;
  text-decoration: none;
  letter-spacing: 1px;
  text-shadow: 0 0 2px #ADAFB2;
  font-size: 1.35em;
}

nav div a:hover,
nav div a:focus {
  outline: none;
}

.cl-effect-13 div a::before,
.cl-effect-13 div a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-13 div a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.cl-effect-13 div a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.cl-effect-13 div a:hover::before,
.cl-effect-13 div a:hover::after,
.cl-effect-13 div a:focus::before,
.cl-effect-13 div a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

.output_buttons{
  margin-right: 8px;
}

.control_buttons{
  margin-right: 8px;
}

.update_buttons{
  margin-right: 8px;
}

.refresh{
  background: url("/static/reload_sm.png") no-repeat scroll 0% 0% transparent;
  background-size: 14px;
  width: 25px;
  height: auto;
  background-position: 4px 6px;
}

.reload_time{
  margin-left: 10px;
  font-size: smaller;
  font-style: italic;
}

.out {
  margin: 10px;
  padding: 20px 0px 20px 20px;
  background-color: Gainsboro;
  border-style:solid;border-width:1px;
  word-wrap:break-word;
  font-family: monospace;
  box-shadow: 1px 1px 1px #afafaf;
  -webkit-box-shadow: 1px 1px 1px #afafaf;
  -moz-box-shadow: 1px 1px 1px #afafaf;
}

.out .inner_output {
  overflow: scroll;
  max-height: 500px;
}

.output_control{
  text-decoration: underline;
  font-family: monospace;
  margin: 6px;

}

.output_control a{
  font-size: 1em;
  text-shadow: unset;
  text-decoration: underline;
}

.output_control:hover a{
  color:darkorange;
  font-weight: bold;
}

.output_control_container {
  margin-top:10px;
}

.load {
  margin-left: 40px;
  margin-top: 12px;
}

.time_col {
  min-width: 12ch;
}

.sub {
  background-color: white;
  position: relative;
  text-align: left;
  margin: -4px;
  height: 2.4em;
  padding: 2px 4px;
  color: black;
  word-break:break-word;
}

.hist {
  background-color: #F0F0F0;
  position: relative;
  text-align: left;
  margin: -4px;
  height: 2.2em;
  padding: 2px 4px;
  color: black;
  word-break:break-word;
}

.status {
  min-width: 11ch;
}

.sourcescol {
  max-width: 40ch; 
  word-wrap:break-word;
}