<head>
  <link rel="stylesheet" type="text/css" href="static/tablesorter/themes/orange/style.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script type="text/javascript" src="static/tablesorter/jquery.tablesorter.js"></script>
  <script type="text/javascript"> $('#accounttable').tablesorter(); </script>
</head>


<body>
  <span class="output_buttons"> 
    <input type="button" id="account_raw" value="raw output">
  </span>
  <span class="update_buttons">
    <input type="button" id="account_refresh" class=refresh title="reload" value=" ">
  </span>
  <div id=account_output class="out">[output]</div>

  {% if raw is not string %}
    <table id="accounttable" class="tablesorter">
      <thead>
        <tr>
          <th>label</th>
          <th>id</th>
          <th>API key</th>
          <th>created</th>
          <th>updated</th>
          <th>expires</th>
          <th>tokens</th>
          <th>limit</th>
          <th>master</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody>
    {% for i in raw %}
        <tr>
          <td>{{i['label']}}</td>
          <td>{{i['id']}}</td>
          <td>{{i['api_key']}}</td>
          <td>{{i['created_at']}}</td>
          <td>{{i['updated_at']}}</td>
          <td>{{i['expires_at']}}</td>
          <td></td>
          <td>
          {% if limits %}
            <ul>
            {% for l in limits %}
            {% if l['id'] == i['id'] %}
              <li>{{ l['service'] }}: {{ l['total_allowance'] }}</li>
            {% else %}
              
            {% endif %}
            {% endfor %}
            </ul>
          {% endif %}
          </td>
          <td>{{i['master']}}</td>
          <td>{{i['status']}}</td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
  {% else %}
  <p> {{ raw }} </p>
  {% endif %}

</body>