<head>
  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="static/DataTables/datatables.css">
    
  <!-- DataTables -->
  <script type="text/javascript" charset="utf8" src="/static/DataTables/datatables.min.js"></script>
  <script type="text/javascript"> 
    $('#tablesortersheet').remove();

    $.ajax({
      url: "/account/get_json",
      dataType: 'json',
      beforeSend: function(){
        $('#accounttable').hide();
        $('#account_output').text("[ please wait ]");
      },
      success: function (data) {
        var acct_table = $('#accounttable').DataTable( {
          "data": data.data,
          dom: 'lBfrtip',
          "buttons": ['copy'],
          processing: true
        } )
        .order( [ 9, 'asc' ] )
        .draw();

        // load tokens explicitly to save api calls on initial load
        acct_table.button().add( 0, {
            action: function ( e, dt, button, config ) {
                dt.ajax.url('/account/get_token_json').load();
            },
            text: 'get tokens'
        } );

        $('#accounttable').show();

        if(data.error) {
          $('#account_output').text(data.error)
        }
        else {
          $('#account_output').text("[ output ]")
        }
      } 
    });
/*
    // original - using datatables built in ajax
    var table = $('#accounttable').DataTable( {
        "ajax": "/account/get_json",
        dom: 'lBfrtip',
        "buttons": ['copy'],
        processing: true
      } ).on( 'draw.dt', function () {
      } );

    //load tokens explicitly to save api calls
    table.button().add( 0, {
        action: function ( e, dt, button, config ) {
            dt.ajax.url('/account/get_token_json').load();
        },
        text: 'get tokens'
    } );
*/

    // lazy loading..
    /*
    var temp = $.ajax({
      url: "/account/get_json_array",
      dataType: 'json',
      success: function (data) {
        table.rows.add(data.data).draw(); 
      } 
    });
    */
  </script>
</head>


<body>
  <span class="output_buttons"> 
    <input type="button" id="account_raw" value="raw output">
  </span>
  <span class="update_buttons">
    <input type="button" id="account_refresh" class=refresh title="reload" value=" ">
  </span>
  <div id=account_output class="out">[output]</div>

    <table id="accounttable" class="tablesorter">
      <thead>
        <tr>
          <th style="max-width:200px">label</th>
          <th>id</th>
          <th>API key</th>
          <th>created</th>
          <th>updated</th>
          <th>expires</th>
          <th>tokens</th>
          <th>limit</th>
          <th>master</th>
          <th>status</th>
        </tr>
      </thead>
    </table>

</body>