<!doctype html>

<head>
<style>
body {
    background-color: linen;
}
h1 {
    color: maroon;
    margin-left: 20px;
} 
p {
    margin-left: 40px;
}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}

</style>
</head>

<title>DataSift Console</title>

{% if error %}
  <h3>Bad login: {{ error }}!</h3>
{% else %}
  <h3>DataSift Console Login</h3>
{% endif %}
<form action="" method="post">
    User name: <input type="text" name="username"><br>
    API Key: <input type="text" name="apikey"><br>
    <input type="submit" value="Login">
    <input type="button" value="Log out" onClick="javascript:location.href='/logout';">
</form>

<!-- only show these if there is user info in session -->
{% if name %}
<h2> {{name}} </h2>

<h3> account details </h3>
<p>Balance: {{acct['balance']}}</p>
<p>Rate Limit:{{acct['x-ratelimit-remaining']}} / {{acct['x-ratelimit-limit']}} </p>
<p>Usage:
{% for s in acct['usage'] %}
<p> {{s}} </p>
{% endfor %}
</p>

<h3> Live Streams </h3>

<table class="tg">
  <tr>
    <th class="tg-031e">Push ID</th>
    <th class="tg-031e">Name</th>
    <th class="tg-031e">Type</th>
    <th class="tg-031e">Hash</th>
    <th class="tg-031e">Last Request</th>
    <th class="tg-031e">Last Success</th>
    <th class="tg-031e">Created</th>
    <th class="tg-031e">Lost Data</th>
    <th class="tg-031e">Count</th>
    <th class="tg-031e">Output</th>
    <th class="tg-031e">Status</th>
  </tr>
{% for entry in push %}
  <tr>
    <th class="tg-031e">{{entry['id']}}</th>
    <th class="tg-031e">{{entry['name']}}</th>
    <th class="tg-031e">{{entry['hash_type']}}</th>
    <th class="tg-031e">{{entry['hash']}}</th>
    <th class="tg-031e">{{entry['last_request']}}</th>
    <th class="tg-031e">{{entry['last_success']}}</th>
    <th class="tg-031e">{{entry['start']}}</th>
    <th class="tg-031e">{{entry['lost_data']}}</th>
    <th class="tg-031e">{{entry['interaction_count']}}</th>
    <th class="tg-031e">{{entry['output_type']}}</th>
    <th class="tg-031e">{{entry['status']}}</th>
  </tr>
{% endfor %}
</table>

<h3> Historic Streams </h3>

<table class="tg">
  <tr>
    <th class="tg-031e">Historic ID</th>
    <th class="tg-031e">Push ID</th>
    <th class="tg-031e">Name</th>
    <th class="tg-031e">Hash</th>
    <th class="tg-031e">Created At</th>
    <th class="tg-031e">Start</th>
    <th class="tg-031e">End</th>
    <th class="tg-031e">Status</th>
    <th class="tg-031e">Count</th>
    <th class="tg-031e">Delivery</th>
  </tr>
{% for entry in historic %}
{% set h = historic[entry]['historic'] %}
  <tr>
    <th class="tg-031e">{{h['id']}}</th>
    <th class="tg-031e"></th>
    <th class="tg-031e">{{h['name']}}</th>
    <th class="tg-031e">{{h['hash']}}</th>
    <th class="tg-031e">{{h['created_at']}}</th>
    <th class="tg-031e">{{h['start']}}</th>
    <th class="tg-031e">{{h['end']}}</th>
    <th class="tg-031e">{{h['status']}} : {{h['progress']}}</th>
    <th class="tg-031e">{{h['delivery_count']}}</th>
    <th class="tg-031e"></th>
  </tr>
{% set subs = historic[entry]['subscriptions'] %}
{% for s in subs %}
  <tr>
    <th class="tg-031e"></th>
    <th class="tg-031e">{{s['id']}}</th>
    <th class="tg-031e">{{s['name']}}</th>
    <th class="tg-031e">{{s['hash']}}</th>
    <th class="tg-031e">{{s['created_at']}}</th>
    <th class="tg-031e">{{s['start']}}</th>
    <th class="tg-031e"></th>
    <th class="tg-031e">{{s['status']}}</th>
    <th class="tg-031e">{{h['interaction_count']}}</th>
    <th class="tg-031e"></th>
  </tr>
{% endfor %}
{% endfor %}
</table>

<h3> Managed Sources </h3>

{% for entry in source %}
<p> {{entry}} </p>
{% endfor %}
{% endif %}