<!doctype html>

<head>
<style>
body {
    background-color: linen;
}
h1 {
    color: maroon;
    margin-left: 20px;
} 
p {
    margin-left: 40px;
}
</style>
</head>

<title>DataSift Console</title>

{% if error %}
  <h3>Bad login: {{ error }}!</h3>
{% else %}
  <h3>DataSift Console Login</h3>
{% endif %}
<form action="" method="post">
    User name: <input type="text" name="username"><br>
    API Key: <input type="text" name="apikey"><br>
    <input type="submit" value="Login">
    <input type="button" value="Log out" onClick="javascript:location.href='/logout';">
</form>

<!-- only show these if there is user info in session -->
{% if name %}
<h2> {{name}} </h2>

<h3> account details </h3>
<p>Balance: {{acct['balance']}}</p>
<p>Rate Limit:{{acct['x-ratelimit-remaining']}} / {{acct['x-ratelimit-limit']}} </p>
<p>Usage:
{% for s in acct['usage'] %}
<p> {{s}} </p>
{% endfor %}
</p>

<h3> Live Streams </h3>

{% for entry in push %}
<p> {{entry}} </p>
{% endfor %}

<h3> Historic Streams </h3>

{% for entry in historic %}
<p> {{entry}} </p>
{% endfor %}

<h3> Managed Sources </h3>

{% for entry in source %}
<p> {{entry}} </p>
{% endfor %}
{% endif %}