<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tablesorter/themes/orange/style.css') }}">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script type="text/javascript" src="{{
  url_for('static', filename='tablesorter/jquery.tablesorter.js') }}"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $(document).ready(function() {

    $('#historicstable').tablesorter();

    var clear_output= "<div><span class='output_control' onclick='document.getElementById(\"historics_output\").innerHTML = \"\";'>clear output</span></div>";

    //historics subscription actions

    $('input#historics_raw').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/historics_get_raw',
      $( ".historics:checked"), 
      function(data) {
        var formatted = "";
        for (i = 0; i < data.out.length; i++){
          var stringify = JSON.stringify(data.out[i], null, 4) 
          formatted = formatted + "<pre>" + stringify + "</pre>";
        }
        formatted = formatted + clear_output;
        $("#historics_output").html(formatted);
      });
      return false;
    });

    $('input#historics_log').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/push_log',
      $( ".historics:checked"), 
      function(data) {
        var formatted = "";
        for (i = 0; i < data.out.length; i++){
          var stringify = JSON.stringify(data.out[i], null, 4) 
          formatted = formatted + "<pre>" + stringify + "</pre>";
        }
        formatted = formatted + clear_output;
        $("#historics_output").html(formatted);
      });
      return false;
    });

    $('input#historics_push_delete').bind('click', function() {
      var subs = "";
      $( ".historics:checked").each(function(){
        subs = subs + "\n" + $( this ).attr('name');
      });
      var confirm_delete = confirm("Are you sure you want to delete subscriptions:\n " + subs);
      if (confirm_delete == true){
        $.getJSON($SCRIPT_ROOT + '/push_delete',
        $( ".historics:checked"), 
        function(data) {
          $("#historics_output").text(
            "Deleted: " + data.success + "\nNot deleted: " + data.fail);
          $.each(data.success, function( index, id ){
            $("#historics_row_"+id).remove()
          });
        });
      }
      return false;
    });

    $('input#historics_push_stop').bind('click', function() {
      var subs = "";
      $( ".historics:checked").each(function(){
        subs = subs + "\n" + $( this ).attr('name');
      });
      var confirm_delete = confirm("Are you sure you want to stop subscriptions:\n " + subs);
      if (confirm_delete == true){
        $.getJSON($SCRIPT_ROOT + '/push_stop',
        $( ".historics:checked"), 
        function(data) {
          $("#historics_output").text("Stopped: " + data.success + "\nNot stopped: " + data.fail);
          $.each(data.success, function( index, id ){
            $(".sub", "#historics_status_"+id).text("stopped")
          });
        });
      }
      return false;
    });

    $('input#historics_push_pause').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/push_pause',
      $( ".historics:checked"), 
      function(data) {
        $("#historics_output").text("Paused: " + data.success + "\nNot paused: " + data.fail);
        $.each(data.success, function( index, id ){
          $(".sub", "#historics_status_"+id).text("paused")
        });
      });
      return false;
    });

    $('input#historics_push_resume').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/push_resume',
      $( ".historics:checked"), 
      function(data) {
        $("#historics_output").text("Resumed: " + data.success + "\nNot resumed: " + data.fail);
        $.each(data.success, function( index, id ){
          $(".sub", "#historics_status_"+id).text("active")
        });
      });
      return false;
    });

    $('input#historics_pause').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/historics_pause',
      $( ".historics:checked"), 
      function(data) {
        $("#historics_output").text("Paused: " + data.success + "\nNot paused: " + data.fail);
        $.each(data.success, function( index, id ){
          $(".hist", "#historics_status_"+id).text("paused")
        });
      });
      return false;
    });

    $('input#historics_resume').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/historics_resume',
      $( ".historics:checked"), 
      function(data) {
        $("#historics_output").text("Resumed: " + data.success + "\nNot resumed: " + data.fail);
        $.each(data.success, function( index, id ){
          $(".hist", "#historics_status_"+id).text("active")
        });
      });
      return false;
    });

    $('input#historics_delete').bind('click', function() {
      var hists = "";
      $( ".historics:checked").each(function(){
        hists = hists + "\n" + $( this ).attr('name');
      });
      var confirm_delete = confirm("Are you sure you want to delete historics:\n " + hists);
      if (confirm_delete == true){
        $.getJSON($SCRIPT_ROOT + '/historics_delete',
        $( ".historics:checked"), 
        function(data) {
          $("#historics_output").text(
            "Deleted: " + data.success + "\nNot deleted: " + data.fail);
          $.each(data.success, function( index, id ){
            $("#historics_row_"+id).remove()
          });
        });
      }
      return false;
    });

    $('#historics_refresh').bind('click', function() {
      $('#historicsget').css('display') == 'none';
      $('#historicsget').slideToggle("fast");
      // loading gif
      $('#historics_load').css('display', 'block');
      $.get($SCRIPT_ROOT + '/historics_get', 'reload=1', function(data){
        $('#historicsget').html(data).slideToggle("fast");
          $('#historics_load').css('display', 'none');
      });
    });

  });
</script>

</head>
<body>
  <span class="output_buttons"> 
    <input type="button" id="historics_raw" value="raw output">
    <input type="button" id="historics_log" value="log">
  </span>
  <span class="control_buttons">
    <input type="button" id="historics_push_pause" value="p pause">
    <input type="button" id="historics_push_resume" value="p resume">
    <input type="button" id="historics_push_stop" value="p stop">
    <input type="button" id="historics_push_delete" value="p delete">
    <input type="button" id="historics_pause" value="h pause">
    <input type="button" id="historics_resume" value="h resume">
    <input type="button" id="historics_delete" value="h delete">
  </span>
  <span class="update_buttons">
    <input type="button" id="historics_refresh" class=refresh title="reload" value=" ">
    <span class="reload_time"> loaded at: {{ reload_time }} </span>
  </span>

  <div id=historics_output class="out">
    [output]
  </div>

  <table id="historicstable" class="tablesorter">
    <thead>
      <tr>
        <th class="tg-031e"></th>
        <th class="tg-031e">ID</th>
        <th class="tg-031e">Name</th>
        <th class="tg-031e">Hash</th>
        <th class="tg-031e">Created At</th>
        <th class="tg-031e">Last Request</th>
        <th class="tg-031e">Last Success</th>
        <th class="tg-031e">Start</th>
        <th class="tg-031e">End</th>
        <th class="tg-031e">Progress</th>
        <th class="tg-031e">Lost Data</th>
        <th class="tg-031e">Output</th>
        <th class="tg-031e">Count</th>
        <th class="tg-031e">Status</th>
      </tr>
    </thead>
    <tbody>
  {% for entry in historics %}
    {% set h = historics[entry]['historic'] %}
    {% set subs = historics[entry]['subscriptions'] %}
    {% for s in subs if (subs|length) > 0 %}
    <!-- probably won't include historics without subs as is -->
      <tr id="historics_row_{{s['id']}}">
        <td class="tg-031e"><input type="checkbox" class="historics" name="{{s['id']}}"></td>
        <td class="tg-031e"><div class="sub">{{s['id']}}</div><div class="hist">{{h['id']}}</div></td>
        <td class="tg-031e"><div class="sub">{{s['name']}}</div><div class="hist">{{h['name']}}</div></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['definition_id']}}</div></td>
        <td class="tg-031e"><div class="sub">{{s['created_at']}}</div><div class="hist">{{h['created_at']}}</div></td>
        <td class="tg-031e"><div class="sub">{{s['last_request']}}</div></td>
        <td class="tg-031e"><div class="sub">{{s['last_success']}}</div></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['start']}}</div></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['end']}}</div></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['progress']}}</div></td>
        <td class="tg-031e"><div class="sub">{{s['lost_data']}}</div></td>
        <td class="tg-031e"><div class="sub">{{s['output_type']}}</div></td>
        <td class="tg-031e"><div class="sub">{{s['interaction_count']}}</div><div class="hist">{{h['delivery_count']}}</div></td>
        <td class="tg-031e" id="historics_status_{{s['id']}}"><div class="sub">{{s['status']}}</div><div class="hist">{{h['status']}}</div></td>
      </tr>
    {% else %}
      <tr id="historics_row_{{h['id']}}">
        <td class="tg-031e"><input type="checkbox" class="historics" name="{{h['id']}}"></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['id']}}</div></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['name']}}</div></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['definition_id']}}</div></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['created_at']}}</div></td>
        <td class="tg-031e"></td>
        <td class="tg-031e"></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['start']}}</td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['end']}}</td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['progress']}}</td>
        <td class="tg-031e"></td>
        <td class="tg-031e"></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['delivery_count']}}</div></td>
        </td>
        <td class="tg-031e" id="historics_status_{{h['id']}}"><div class="sub">&nbsp;</div><div class="hist">{{h['status']}}</div></td>
      </tr>
    <!-- still need to cover case where there's a sub but no historic.. --> 
  {% endfor %}
  {% endfor %}
    </tbody>
  </table>
</body>