<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tablesorter/themes/orange/style.css') }}">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script type="text/javascript" src="{{
  url_for('static', filename='tablesorter/jquery.tablesorter.js') }}"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $(document).ready(function() {

    $('#historicstable').tablesorter();

    var clear_output= "<div><span class='output_control' onclick='document.getElementById(\"historics_output\").innerHTML = \"\";'>clear output</span></div>";

    //historics subscription actions

    $('input#historics_raw').bind('click', function() {
      historics_output_wait();
      $.getJSON($SCRIPT_ROOT + '/historics_get_raw',
      $( ".historics:checked"), 
      function(data) {
        formatted = historics_output_format(data);
        var html_formatted = historics_output_format_html(formatted);
        $.post($SCRIPT_ROOT + '/set_historics_export', {output:formatted});
        $("#historics_output").html(html_formatted);
      });
      return false;
    });

    $('input#historics_log').bind('click', function() {
      historics_output_wait();
      $.getJSON($SCRIPT_ROOT + '/push_log',
      $( ".historics:checked"), 
      function(data) {
        formatted = historics_output_format(data);
        var html_formatted = historics_output_format_html(formatted);
        $.post($SCRIPT_ROOT + '/set_historics_export', {output:formatted});
        $("#historics_output").html(html_formatted);
      });
      return false;
    });

    $('input#historics_push_delete').bind('click', function() {
      var subs = "";
      $( ".historics:checked").each(function(){
        subs = subs + "\n" + $( this ).attr('name');
      });
      var confirm_delete = confirm("Are you sure you want to delete subscriptions:\n " + subs);
      if (confirm_delete == true){
        historics_output_wait();
        $.getJSON($SCRIPT_ROOT + '/push_delete',
        $( ".historics:checked"), 
        function(data) {
          formatted = historics_control_output_format(data,"deleted");
          $("#historics_output").html(formatted);
          $.each(data.success, function( index, id ){
            $("#historics_row_"+id).remove();
          });
        });
      }
      return false;
    });

    $('input#historics_push_stop').bind('click', function() {
      var subs = "";
      $( ".historics:checked").each(function(){
        subs = subs + "\n" + $( this ).attr('name');
      });
      var confirm_delete = confirm("Are you sure you want to stop subscriptions:\n " + subs);
      if (confirm_delete == true){
        historics_output_wait();
        $.getJSON($SCRIPT_ROOT + '/push_stop',
        $( ".historics:checked"), 
        function(data) {
          formatted = historics_control_output_format(data,"stopped");
          $("#historics_output").html(formatted);
          $.each(data.success, function( index, id ){
            $("#historics_row_"+id).remove();
          });
        });
      }
      return false;
    });

    $('input#historics_push_pause').bind('click', function() {
      historics_output_wait();
      $.getJSON($SCRIPT_ROOT + '/push_pause',
      $( ".historics:checked"), 
      function(data) {
        formatted = historics_control_output_format(data,"paused");
        $("#historics_output").html(formatted);
        $.each(data.success, function( index, id ){
          $("#historics_row_"+id).remove();
        });
      });
      return false;
    });

    $('input#historics_push_resume').bind('click', function() {
      historics_output_wait();
      $.getJSON($SCRIPT_ROOT + '/push_resume',
      $( ".historics:checked"), 
      function(data) {
          formatted = historics_control_output_format(data,"resumed");
          $("#historics_output").html(formatted);
          $.each(data.success, function( index, id ){
            $("#historics_row_"+id).remove();
          });
        });
      return false;
    });

    $('input#historics_pause').bind('click', function() {
      historics_output_wait();
      $.getJSON($SCRIPT_ROOT + '/historics_pause',
      $( ".historics:checked"), 
      function(data) {
          formatted = historics_control_output_format(data,"paused");
          $("#historics_output").html(formatted);
          $.each(data.success, function( index, id ){
            $("#historics_row_"+id).remove();
          });
        });
      return false;
    });

    $('input#historics_resume').bind('click', function() {
      historics_output_wait();
      $.getJSON($SCRIPT_ROOT + '/historics_resume',
      $( ".historics:checked"), 
      function(data) {
          formatted = historics_control_output_format(data,"resumed");
          $("#historics_output").html(formatted);
          $.each(data.success, function( index, id ){
            $("#historics_row_"+id).remove();
          });
        });
      return false;
    });

    $('input#historics_stop').bind('click', function() {
      var hists = "";
      $( ".historics:checked").each(function(){
        hists = hists + "\n" + $( this ).attr('name');
      });
      var confirm_stop = confirm("Are you sure you want to stop historics:\n " + hists);
      if (confirm_stop == true){
        historics_output_wait();
        $.getJSON($SCRIPT_ROOT + '/historics_stop',
        $( ".historics:checked"), 
        function(data) {
          formatted = historics_control_output_format(data,"stopped");
          $("#historics_output").html(formatted);
          $.each(data.success, function( index, id ){
            $("#historics_row_"+id).remove();
          });
        });
      }
      return false;
    });

    $('input#historics_delete').bind('click', function() {
      var hists = "";
      $( ".historics:checked").each(function(){
        hists = hists + "\n" + $( this ).attr('name');
      });
      var confirm_delete = confirm("Are you sure you want to delete historics:\n " + hists);
      if (confirm_delete == true){
        historics_output_wait();
        $.getJSON($SCRIPT_ROOT + '/historics_delete',
        $( ".historics:checked"), 
        function(data) {
          formatted = historics_control_output_format(data,"deleted");
          $("#historics_output").html(formatted);
          $.each(data.success, function( index, id ){
            $("#historics_row_"+id).remove();
          });
        });
      }
      return false;
    });

    $('#historics_refresh').bind('click', function() {
      $('#historicsget').css('display') == 'none';
      $('#historicsget').slideToggle("fast");
      // loading gif
      $('#historics_load').css('display', 'block');
      $.get($SCRIPT_ROOT + '/historics_get', 'reload=1', function(data){
        $('#historicsget').html(data).slideToggle("fast");
          $('#historics_load').css('display', 'none');
      });
    });

    //helper functions

    var historics_output_wait = function(){
      $("#historics_output").text("[ please wait ]");
    }

    // html formatted success/fail response for push control actions
    var historics_control_output_format = function(data,action){
      var formatted = ""
      if (data.success.length > 0){
        formatted += action + ":<BR>";
        for (i = 0; i < data.success.length; i++){
          formatted += "<ul>" + data.success[i] + "</ul>";
        }
      }
      if (data.fail.length > 0){
        formatted += "not " + action + ":<BR>";
        for (i = 0; i < data.fail.length; i++){
          var message = "";
          if ('fail_message' in data){
            message = " - " + data.fail_message[i]
          }
          formatted += "<ul>" + data.fail[i] + message + "</ul>";
        }
      }
      return formatted;
    }

    //stringify the json so that its formatted nicely for output (we export this as well)
    var historics_output_format = function(data){
      var formatted = "";

      for (i = 0; i < data.out.length; i++){
        formatted = formatted + JSON.stringify(data.out[i], null, 4) + "\n\n";
      }
      return formatted;
    }

    //add the rest of the output html to the formatted output
    var historics_output_format_html = function(formatted){
      var html_formatted = "";
      var clear_output= "<span class='output_control' onclick='document.getElementById(\"historics_output\").innerHTML = \"\";'><a href='#historics'>clear output</a></span>";
      var export_output= "<span class='output_control'><a href='/get_historics_export/output.txt'>export output.txt</a></span>";
      var output_control = "<div>" + clear_output + export_output + "</div>";
      html_formatted = "<pre>" + formatted + "</pre>" + output_control;

      return html_formatted;
    }
  });
</script>

</head>
<body>
  <span class="output_buttons"> 
    <input type="button" id="historics_raw" value="raw output">
    <input type="button" id="historics_log" value="log">
  </span>
  <span class="control_buttons">
    <input type="button" id="historics_push_pause" value="p pause">
    <input type="button" id="historics_push_resume" value="p resume">
    <input type="button" id="historics_push_stop" value="p stop">
    <input type="button" id="historics_push_delete" value="p delete">
  </span>
  <span class="control_buttons">
    <input type="button" id="historics_pause" value="h pause">
    <input type="button" id="historics_resume" value="h resume">
    <input type="button" id="historics_stop" value="h stop">
    <input type="button" id="historics_delete" value="h delete">
  </span>
  <span class="update_buttons">
    <input type="button" id="historics_refresh" class=refresh title="reload" value=" ">
    <span class="reload_time"> loaded at: {{ reload_time }} </span>
  </span>

  <div id=historics_output class="out">
    [output]
  </div>

  <table id="historicstable" class="tablesorter">
    <thead>
      <tr>
        <th class="tg-031e"></th>
        <th class="tg-031e">ID</th>
        <th class="tg-031e">Name</th>
        <th class="tg-031e">Hash</th>
        <th class="tg-031e">Created At</th>
        <th class="tg-031e">Last Request</th>
        <th class="tg-031e">Last Success</th>
        <th class="tg-031e">Start</th>
        <th class="tg-031e">End</th>
        <th class="tg-031e">Progress</th>
        <th class="tg-031e">Lost Data</th>
        <th class="tg-031e">Output</th>
        <th class="tg-031e">Count</th>
        <th class="tg-031e">Status</th>
      </tr>
    </thead>
    <tbody>
  {% for entry in historics %}
    {% set h = historics[entry]['historic'] %}
    {% set subs = historics[entry]['subscriptions'] %}
    {% for s in subs if (subs|length) > 0 %}
    <!-- case where there is a historic and sub -->
      {% if 'historic' in historics[entry] %}
      <tr id="historics_row_{{s['id']}}">
        <td class="tg-031e"><input type="checkbox" class="historics" name="{{s['id']}}"></td>
        <td class="tg-031e"><div class="sub">{{s['id']}}</div><div class="hist">{{h['id']}}</div></td>
        <td class="tg-031e"><div class="sub">{{s['name']}}</div><div class="hist">{{h['name']}}</div></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['definition_id']}}</div></td>
        <td class="tg-031e"><div class="sub">{{s['created_at']}}</div><div class="hist">{{h['created_at']}}</div></td>
        <td class="tg-031e"><div class="sub">{{s['last_request']}}</div><div class="hist">&nbsp;</div></td>
        <td class="tg-031e"><div class="sub">{{s['last_success']}}</div><div class="hist">&nbsp;</div></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['start']}}</div></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['end']}}</div></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['progress']}}</div></td>
        <td class="tg-031e"><div class="sub">{{s['lost_data']}}</div><div class="hist">&nbsp;</div></td>
        <td class="tg-031e"><div class="sub">{{s['output_type']}}</div><div class="hist">&nbsp;</div></td>
        <td class="tg-031e"><div class="sub">{{s['interaction_count']}}</div><div class="hist">{{h['delivery_count']}}</div></td>
        <td class="tg-031e" id="historics_status_{{s['id']}}"><div class="sub">{{s['status']}}</div><div class="hist">{{h['status']}}</div></td>
      </tr>
      {% else %}
      <!-- case where there is a sub, no historic -->
      <tr id="historics_row_{{s['id']}}">
        <td class="tg-031e"><input type="checkbox" class="historics" name="{{s['id']}}"></td>
        <td class="tg-031e"><div class="sub">{{s['id']}}</div><div class="hist">{{s['hash']}}</div></td>
        <td class="tg-031e"><div class="sub">{{s['name']}}</div><div class="hist">&nbsp;</div></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">&nbsp;</div></td>
        <td class="tg-031e"><div class="sub">{{s['created_at']}}</div><div class="hist">&nbsp;</div></td>
        <td class="tg-031e"><div class="sub">{{s['last_request']}}</div><div class="hist">&nbsp;</div></td>
        <td class="tg-031e"><div class="sub">{{s['last_success']}}</div><div class="hist">&nbsp;</div></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">&nbsp;</div></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">&nbsp;</div></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">&nbsp;</div></td>
        <td class="tg-031e"><div class="sub">{{s['lost_data']}}</div><div class="hist">&nbsp;</div></td>
        <td class="tg-031e"><div class="sub">{{s['output_type']}}</div><div class="hist">&nbsp;</div></td>
        <td class="tg-031e"><div class="sub">{{s['interaction_count']}}</div><div class="hist">&nbsp;</div></td>
        <td class="tg-031e" id="historics_status_{{s['id']}}"><div class="sub">{{s['status']}}</div><div class="hist">&nbsp;</div></td>
      </tr>
      {% endif %}
      <!-- case where there is a historic but no subs -->
    {% else %}
      <tr id="historics_row_{{h['id']}}">
        <td class="tg-031e"><input type="checkbox" class="historics" name="{{h['id']}}"></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['id']}}</div></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['name']}}</div></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['definition_id']}}</div></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['created_at']}}</div></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">&nbsp;</div></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">&nbsp;</div></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['start']}}</td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['end']}}</td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['progress']}}</td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">&nbsp;</div></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">&nbsp;</div></td>
        <td class="tg-031e"><div class="sub">&nbsp;</div><div class="hist">{{h['delivery_count']}}</div></td>
        <td class="tg-031e" id="historics_status_{{h['id']}}"><div class="sub">&nbsp;</div><div class="hist">{{h['status']}}</div></td>
      </tr>
  {% endfor %}
  {% endfor %}
    </tbody>
  </table>
</body>