<!doctype html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" href="http://www.google.com/s2/favicons?domain=dev.datasift.com">
  <!-- custom stylesheet for tablesorter -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tablesorter/themes/orange/style.css') }}">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript"> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
  <script type="text/javascript" src="static/manager.js"></script>
</head>

<body>
  <title>DataSift Manager</title>
  <div id="header">
    <span title="DataSift">
      <div id="managertext">
        manager
      </div>
    </span>
    <div id="login">
      <div id="error">
        {% if error %}
          <h4>{{ error }}</h4>
        {% else %}
          <h4>&nbsp;</h4>
        {% endif %}
      </div>
      <form action="" method="post">
        <fieldset>
          <label class="loginlabel" for="username">User name:</label> <input type="text"  class="loginfield" name="username">
          <label class="loginlabel" for="apikey">API Key:</label> <input type="text"  class="loginfield" name="apikey" >
          <div id="loginlogout">
            <input type="submit" id="login_button" value="Login" >
            <input type="button" value="Log out" onClick="javascript:location.href='/logout';">
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <!-- only show these if there is user info in session -->
  {% if name %}

<!-- ACCOUNT DETAILS -->

    <p>Account: <b>{{name}}</b> </p>
    {% if acct['limit'] %}
      {% set third = acct['limit'][1]|float()/3 %}
      {% set color = 'green' %}
      {% if acct['limit'][0] < third %}
        {% set color = 'red' %}
      {% endif %}
      <p>Rate Limit remaining: 
        <span id="ratelimit" style="color:{{color}};font-weight:bold;">
          {{acct['limit'][0]}}
        </span> / {{acct['limit'][1]}} </p>
      {% else %}
      <p>[Rate Limit not available]</p>
    {% endif %}
    {% if acct['balance'] %}
      {% set balance = acct['balance']['balance'] %}
      <p>Plan: {{balance['plan']}}</p>
      <p>Remaining DPUs: {{balance['remaining_dpus']}}</p>
      <p>Cost: {{balance['cost']}}</p>
      <p>Cost Limit: {{balance['threshold']}}</p>
    {% else %}
      <p>[Account details not available]</p>
    {% endif %}
  
  <p>&nbsp;</p>

<nav class="cl-effect-13" id="cl-effect-13">
<!-- USAGE -->
  <div id="usage" class="section">
    <a id="showusage" class="section_title"> Usage </a>
    <img src="static/ajax-loader.gif" alt="loading.." id="usage_load" class="load" style="display: block;">
  </div>
  <div id="usageget" class="section"></div>

<!-- ACCOUNT IDENTITIES -->

  <div id="account" class="section">
    <a id="showaccount" class="section_title"> Account Identities </a>
    <img src="static/ajax-loader.gif" alt="loading.." id="account_load" class="load" style="display: none;">
  </div>
  <div id="accountget" style="display: none;"></div>

<!-- PYLON IDENTITIES -->

  <div id="pylon" class="section">
    <a id="showpylon" class="section_title"> PYLON Recordings </a>
    <img src="static/ajax-loader.gif" alt="loading.." id="pylon_load" class="load" style="display: none;">
  </div>
  <div id="pylonget" style="display: none;"></div>

<!-- PUSH SUBSCRIPTIONS -->
  <div id="push" class="section">
    <a id="showstreams" class="section_title"> Live Streams </a>
    <img src="static/ajax-loader.gif" alt="loading.." id="push_load" class="load" style="display: none;">
  </div>
  <div id="pushget" style="display: none;"></div>


<!-- HISTORICS -->
  <div id="historics" class="section">
    <a id="showhistorics" class="section_title"> Historics Streams </a>
    <img src="static/ajax-loader.gif" alt="loading.." id="historics_load" class="load" style="display: none;">
  </div>

  <div id="historicsget" style="display: none;"></div>

<!--  MANAGED SOURCES -->
  
  <div id="sources" class="section">
    <a id="showsources" class="section_title"> Managed Sources </a>
    <img src="static/ajax-loader.gif" alt="loading.." id="sources_load" class="load" style="display: none;">
  </div>
  <div id="sourceget" style="display: none;"></div>
</nav>  


  {% else %}
  <!-- no login message -->
  <div id="introtext">
    <p>Login with a user name and api key to monitor: account usage, Live Streams, Historic Streams, and Managed Sources. 
      <br>
      Management features include:
      <ul>
        <li>Account Identities: get all identities associated with an account</li>
        <li>PYLON recordings: start, stop any recording from any identity</li>
        <li>Live Streams: delete, stop, pause, and resume push subscriptions. push/get and log output</li>
        <li>Historic Streams: delete, stop, pause, and resume historics and associated push subscriptions. push/get and log output</li>
        <li>Managed Sources: add tokens, delete, stop, and start Managed Sources. source/get and log output</li>
      </ul>
    </p>
  </div>
  {% endif %}
  <div id="footer">
    <a href="http://status.datasift.com/">Platform Status</a>
    <a href="https://console.datasift.com/">DataSift Console</a>
    <a href="https://datasift.com/dashboard">DataSift Dashboard (Web UI)</a>
    <a href="http://assets.datasift.com/workbench/">PYLON API Explorer</a>
  </div>
</body>
