<head>
  <link rel="stylesheet" type="text/css" href="static/tablesorter/themes/orange/style.css">

  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="static/DataTables/datatables.css">
    
  <!-- DataTables -->
  <script type="text/javascript" charset="utf8" src="/static/DataTables/datatables.min.js"></script>
  <script type="text/javascript"> $('#pushtable').DataTable(); </script>
</head>

<body>
  <span class="output_buttons"> 
    <input type="button" id="push_raw" value="raw output">
    <input type="button" id="push_log" value=log>
    <input type="button" id="push_dpus" value=dpus>
  </span>
  <span class="control_buttons">
    <input type="button" id="push_pause" value=pause>
    <input type="button" id="push_resume" value=resume>
    <input type="button" id="push_stop" value=stop>
    <input type="button" id="push_delete" value=delete>
  </span>
  <span class="update_buttons">
    <input type="button" id="push_refresh" class=refresh title="reload" value=" ">
    <span class="reload_time"> loaded at: {{ reload_time }} </span>
  </span>

  <div id=push_output class="out">[output]</div>
  {% if push %}
  <table id="pushtable" class="tablesorter">
    <thead>
      <tr>
        <th></th>
        <th>Push ID</th>
        <th>Name</th>
        <th>Hash</th>
        <th class="time_col">Last Request</th>
        <th class="time_col">Last Success</th>
        <th class="time_col">Created</th>
        <th>Lost Data</th>
        <th>Count</th>
        <th>Output</th>
        <th class="status">Status</th>
      </tr>
    </thead>
    <tbody>
    {% for entry in push %}
      <tr id="push_row_{{entry['id']}}">
        <td><input type="checkbox" class="push" name="{{entry['id']}}"></td>
        <td>{{entry['id']}}</td>
        <td>{{entry['name']}}</td>
        <td>{{entry['hash']}}</td>
        <td>{{entry['last_request']}}</td>
        <td>{{entry['last_success']}}</td>
        <td>{{entry['start']}}</td>
        <td>{{entry['lost_data']}}</td>
        <td>{{entry['interaction_count']}}</td>
        <td>{{entry['output_type']}}</td>
        <td id="push_status_{{entry['id']}}">{{entry['status']}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p> No Live Streams available </p>
  {% endif %}
</body>