<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tablesorter/themes/orange/style.css') }}">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script type="text/javascript" src="{{
  url_for('static', filename='tablesorter/jquery.tablesorter.js') }}"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $(document).ready(function() {

    $('#pushtable').tablesorter();

        //push subscription actions

    $('input#push_raw').bind('click', function() {
      push_output_wait();
      $.getJSON($SCRIPT_ROOT + '/push_get_raw',
      $( ".push:checked"), 
      function(data) {
        formatted = push_output_format(data);
        var html_formatted = push_output_format_html(formatted);
        $.post($SCRIPT_ROOT + '/set_push_export', {output:formatted});
        $("#push_output").html(html_formatted);
      });
      return false;
    });

    $('input#push_log').bind('click', function() {
      push_output_wait();
      $.getJSON($SCRIPT_ROOT + '/push_log',
      $( ".push:checked"), 
      function(data) {
        formatted = push_output_format(data);
        var html_formatted = push_output_format_html(formatted);
        $.post($SCRIPT_ROOT + '/set_push_export', {output:formatted});
        $("#push_output").html(html_formatted);
      });
      return false;
    });

    $('input#push_delete').bind('click', function() {
      // confirm that we should delete subs before doing it
      var subs = "";
      $( ".push:checked").each(function(){
        subs = subs + "\n" + $( this ).attr('name');
      });
      var confirm_delete = confirm("Are you sure you want to delete subscriptions:\n " + subs);
      // delete subs
      if (confirm_delete == true){
        push_output_wait();
        $.getJSON($SCRIPT_ROOT + '/push_delete',
        $( ".push:checked"), 
        function(data) {
          formatted = push_control_output_format(data,"deleted");
          $("#push_output").html(formatted);
          $.each(data.success, function( index, id ){
            $("#push_row_"+id).remove();
          });
        });
      }
      return false;
    });

    $('input#push_stop').bind('click', function() {
      var subs = "";
      $( ".push:checked").each(function(){
        subs = subs + "\n" + $( this ).attr('name');
      });
      var confirm_delete = confirm("Are you sure you want to stop subscriptions:\n " + subs);
      if (confirm_delete == true){
        push_output_wait();
        $.getJSON($SCRIPT_ROOT + '/push_stop',
        $( ".push:checked"), 
        function(data) {
          formatted = push_control_output_format(data,"stopped");
          $("#push_output").html(formatted);
          $.each(data.success, function( index, id ){
            $("#push_status_"+id).text("stopped")
          });
        });
      }
      return false;
    });

    $('input#push_pause').bind('click', function() {
      push_output_wait();
      $.getJSON($SCRIPT_ROOT + '/push_pause',
      $( ".push:checked"), 
      function(data) {
        formatted = push_control_output_format(data,"paused");
        $("#push_output").html(formatted);
        $.each(data.success, function( index, id ){
          $("#push_status_"+id).text("paused")
        });
      });
      return false;
    });

    $('input#push_resume').bind('click', function() {
      push_output_wait();
      $.getJSON($SCRIPT_ROOT + '/push_resume',
      $( ".push:checked"), 
      function(data) {
        formatted = push_control_output_format(data,"resumed");  
        $("#push_output").html(formatted);
        $.each(data.success, function( index, id ){
          $("#push_status_"+id).text("active")
        });
      });
      return false;
    });

    $('#push_refresh').bind('click', function() {
      //only get data if we're opening 
      $('#pushget').css('display') == 'none';
      $('#pushget').slideToggle("fast");
      // loading gif
      $('#push_load').css('display', 'block');
      $.get($SCRIPT_ROOT + '/push_get', 'reload=1', function(data){
        $('#pushget').html(data).slideToggle("fast");
        $('#push_load').css('display', 'none');
      });
    });


    //helper functions

    var push_output_wait = function(){
      $("#push_output").text("[ please wait ]");
    }

    // html formatted success/fail response for push control actions
    var push_control_output_format = function(data,action){
      var formatted = ""
      if (data.success.length > 0){
        formatted += action + ":<BR>";
        for (i = 0; i < data.success.length; i++){
          formatted += "<ul>" + data.success[i] + "</ul>";
        }
      }
      if (data.fail.length > 0){
        formatted += "not " + action + ":<BR>";
        for (i = 0; i < data.fail.length; i++){
          var message = "";
          if ('fail_message' in data){
            message = " - " + data.fail_message[i]
          }
          formatted += "<ul>" + data.fail[i] + message + "</ul>";
        }
      }
      return formatted;
    }

    //stringify the json so that its formatted nicely for output (we export this as well)
    var push_output_format = function(data){
      var formatted = "";

      for (i = 0; i < data.out.length; i++){
        formatted = formatted + JSON.stringify(data.out[i], null, 4) + "\n\n";
      }
      return formatted;
    }

    //add the rest of the output html to the formatted output
    var push_output_format_html = function(formatted){
      var html_formatted = "";
      var clear_output= "<span class='output_control' onclick='document.getElementById(\"push_output\").innerHTML = \"\";'><a href='#push'>clear output</a></span>";
      var export_output= "<span class='output_control'><a href='/get_push_export/output.txt'>export output.txt</a></span>";
      var output_control = "<div>" + clear_output + export_output + "</div>";
      html_formatted = "<pre>" + formatted + "</pre>" + output_control;

      return html_formatted;
    }
  });
</script>

</head>
<body>
  <span class="output_buttons"> 
    <input type="button" id="push_raw" value="raw output">
    <input type="button" id="push_log" value=log>
  </span>
  <span class="control_buttons">
    <input type="button" id="push_pause" value=pause>
    <input type="button" id="push_resume" value=resume>
    <input type="button" id="push_stop" value=stop>
    <input type="button" id="push_delete" value=delete>
  </span>
  <span class="update_buttons">
    <input type="button" id="push_refresh" class=refresh title="reload" value=" ">
    <span class="reload_time"> loaded at: {{ reload_time }} </span>
  </span>

  <div id=push_output class="out">[output]</div>
  <table id="pushtable" class="tablesorter">
    <thead>
      <tr>
        <th class="tg-031e"></th>
        <th class="tg-031e">Push ID</th>
        <th class="tg-031e">Name</th>
        <th class="tg-031e">Hash</th>
        <th class="tg-031e">Last Request</th>
        <th class="tg-031e">Last Success</th>
        <th class="tg-031e">Created</th>
        <th class="tg-031e">Lost Data</th>
        <th class="tg-031e">Count</th>
        <th class="tg-031e">Output</th>
        <th class="tg-031e">Status</th>
      </tr>
    </thead>
    <tbody>
  {% for entry in push %}
      <tr id="push_row_{{entry['id']}}">
        <td class="tg-031e"><input type="checkbox" class="push" name="{{entry['id']}}"></td>
        <td class="tg-031e">{{entry['id']}}</td>
        <td class="tg-031e">{{entry['name']}}</td>
        <td class="tg-031e">{{entry['hash']}}</td>
        <td class="tg-031e">{{entry['last_request']}}</td>
        <td class="tg-031e">{{entry['last_success']}}</td>
        <td class="tg-031e">{{entry['start']}}</td>
        <td class="tg-031e">{{entry['lost_data']}}</td>
        <td class="tg-031e">{{entry['interaction_count']}}</td>
        <td class="tg-031e">{{entry['output_type']}}</td>
        <td class="tg-031e" id="push_status_{{entry['id']}}">{{entry['status']}}</td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
</body>