<head>
  <link rel="stylesheet" type="text/css" href="static/tablesorter/themes/orange/style.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script type="text/javascript" src="static/tablesorter/jquery.tablesorter.js"></script>

  <script type="text/javascript"> $('#pylontable').tablesorter(); </script>
</head>

<body>
  <span class="output_buttons"> 
    <input type="button" id="pylon_raw" value="raw output">
  <span class="control_buttons"> 
    <input type="button" id="pylon_start" value=start>
    <input type="button" id="pylon_stop" value=stop>
  </span>
  <span class="update_buttons">
    <input type="button" id="pylon_refresh" class=refresh title="reload" value=" ">
    <span class="reload_time"> loaded at: {{ reload_time }} </span>
  </span>

  <div id=pylon_output class="out">[output]</div>
  {% if raw is not string %}
    {% if raw %}
    <table id="pylontable" class="tablesorter">
      <thead>
        <tr>
          <th></th>
          <th>name</th>
          <th>hash</th>
          <th>identity</th>
          <th>start</th>
          <th>end</th>
          <th>index capacity</th>
          <th>volume</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody>
    {% for i in raw %}
      {% for r in i %}
        <tr>
          <!-- NOTE - need a special identifier due to account identities -->
          <td><input type="checkbox" class="pylon" name="{{r['hash']}}_{{r['identity_id']}}"></td>
          <td>{{r['name']}}</td>
          <td>{{r['hash']}}</td>
          <td>{{r['identity_label']}}</td>
          <td>{{r['start']}}</td>
          <td>{{r['end']}}</td>
          <td>{{r['remaining_index_capacity']}}</td>
          <td>{{r['volume']}}</td>
          <td id="status_{{r['hash']}}">{{r['status']}}</td>
        </tr>
      {% endfor %}
    {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p> No PYLON recordings available </p>
    {% endif %}
  {% else %}
    <p> {{ raw }} </p>
  {% endif %}
</body>