<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tablesorter/themes/orange/style.css') }}">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script type="text/javascript" src="{{
  url_for('static', filename='tablesorter/jquery.tablesorter.js') }}"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $(document).ready(function() {

    $('#pylontable').tablesorter();

    $('input#pylon_raw').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/pylon_get_raw', 
      function(data) {
        formatted = pylon_output_format(data);
        var html_formatted = pylon_output_format_html(formatted);
        $.post($SCRIPT_ROOT + '/set_pylon_export', {output:formatted});
        $("#pylon_output").html(html_formatted);
      });
      return false;
    });

    $('input#pylon_start').bind('click', function() {
      var recs = "";
      // NOTE - each checkbox has name like: <hash>_<identity id>
      // split on _ delimeter for user confirmation.
      $( ".pylon:checked").each(function(){
        recs = recs + "\n" + $( this ).attr('name').split('_')[0];
      });
      var confirm_start = confirm("Are you sure you want to start PYLON recordings:\n " + recs);
      if (confirm_start == true){
        pylon_output_wait();
        $.getJSON($SCRIPT_ROOT + '/pylon_start',
        $( ".pylon:checked"), 
        function(data) {
          formatted = pylon_control_output_format(data,"started");
          $("#pylon_output").html(formatted);
          $.each(data.success, function( index, id ){
            $("#status_"+id).text("running")
          });
        });
      }
      return false;
    });

    $('input#pylon_stop').bind('click', function() {
      var recs = "";
      // NOTE - each checkbox has name like: <hash>_<identity id>
      // split on _ delimeter for user confirmation.
      $( ".pylon:checked").each(function(){
        recs = recs + "\n" + $( this ).attr('name').split('_')[0];
      });
      var confirm_stop = confirm("Are you sure you want to stop PYLON recordings:\n " + recs);
      if (confirm_stop == true){
        pylon_output_wait();
        $.getJSON($SCRIPT_ROOT + '/pylon_stop',
        $( ".pylon:checked"), 
        function(data) {
          formatted = pylon_control_output_format(data,"stopped");
          $("#pylon_output").html(formatted);
          $.each(data.success, function( index, id ){
            $("#status_"+id).text("stopped")
          });
        });
      }
      return false;
    });

    $('#pylon_refresh').bind('click', function() {
      //only get data if we're opening 
      $('#pylonget').css('display') == 'none';
      $('#pylonget').slideToggle("fast");
      // loading gif
      $('#pylon_load').css('display', 'block');
      $.get($SCRIPT_ROOT + '/pylon_get', 'reload=1', function(data){
        $('#pylonget').html(data).slideToggle("fast");
        $('#pylon_load').css('display', 'none');
      });
    });

    //update ratelimit
    $(':button,h3').click(function() {
      $.get($SCRIPT_ROOT + '/update_ratelimit', function(data){
        $('#ratelimit').text(data);
      });
    });

    // helper functions

    var pylon_output_wait = function(){
      $("#pylon_output").text("[ please wait ]");
    }

    // html formatted success/fail response for push control actions
    var pylon_control_output_format = function(data,action){
      var formatted = ""
      if (data.success.length > 0){
        formatted += action + ":<BR>";
        for (i = 0; i < data.success.length; i++){
          formatted += "<ul>" + data.success[i] + "</ul>";
        }
      }
      if (data.fail.length > 0){
        formatted += "not " + action + ":<BR>";
        for (i = 0; i < data.fail.length; i++){
          var message = "";
          if ('fail_message' in data){
            message = " - " + data.fail_message[i]
          }
          formatted += "<ul>" + data.fail[i] + message + "</ul>";
        }
      }
      return formatted;
    }

    //stringify the json so that its formatted nicely for output (we export this as well)
    var pylon_output_format = function(data){
      return JSON.stringify(data.out, null, 4);
    }

    //add the rest of the output html to the formatted output
    var pylon_output_format_html = function(formatted){
      var html_formatted = "";
      var clear_output= "<span class='output_control' onclick='document.getElementById(\"pylon_output\").innerHTML = \"\";'><a href='#pylon'>clear output</a></span>";
      var export_output= "<span class='output_control'><a href='/get_pylon_export/output.txt'>export output.txt</a></span>";
      var output_control = "<div class='output_control_container'>" + clear_output + export_output + "</div>";
      html_formatted = "<div class='inner_output'><pre>" + formatted + "</pre></div>" + output_control;

      return html_formatted;
    }

  });
</script>
</head>
<body>
  <span class="output_buttons"> 
    <input type="button" id="pylon_raw" value="raw output">
  <span class="control_buttons"> 
    <input type="button" id="pylon_start" value=start>
    <input type="button" id="pylon_stop" value=stop>
  </span>
  <span class="update_buttons">
    <input type="button" id="pylon_refresh" class=refresh title="reload" value=" ">
    <span class="reload_time"> loaded at: {{ reload_time }} </span>
  </span>

  <div id=pylon_output class="out">[output]</div>
  {% if raw is mapping %}
  <table id="pylontable" class="tablesorter">
    <thead>
      <tr>
        <th></th>
        <th>name</th>
        <th>hash</th>
        <th>identity</th>
        <th>start</th>
        <th>end</th>
        <th>index capacity</th>
        <th>volume</th>
        <th>status</th>
      </tr>
    </thead>
    <tbody>
  {% for i in raw %}
    {% for r in i %}
      <tr>
        <!-- NOTE - need a special identifier due to account identities -->
        <td><input type="checkbox" class="pylon" name="{{r['hash']}}_{{r['identity_id']}}"></td>
        <td>{{r['name']}}</td>
        <td>{{r['hash']}}</td>
        <td>{{r['identity_label']}}</td>
        <td>{{r['start']}}</td>
        <td>{{r['end']}}</td>
        <td>{{r['remaining_index_capacity']}}</td>
        <td>{{r['volume']}}</td>
        <td id="status_{{r['hash']}}">{{r['status']}}</td>
      </tr>
    {% endfor %}
  {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p> {{ raw }} </p>
  {% endif %}
</body>