<head>
    <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="static/DataTables/datatables.css">
    
  <!-- DataTables -->
  <script type="text/javascript" charset="utf8" src="/static/DataTables/datatables.min.js"></script>
  <script type="text/javascript"> 
    var table2 = $('#pylontable').DataTable( {
        "ajax": "/pylon/get_json",
        dom: 'lBfrtip',
        select: {"style":"multi"},
        "buttons": ['copy'],
        processing: true
      } );
    // order by status - 'running' on top by default
    table2
    .order( [ 8, 'asc' ] )
    .draw();

  </script>
</head>

<body>
  <span class="output_buttons"> 
    <input type="button" id="pylon_raw" value="raw output">
  <span class="control_buttons"> 
    <input type="button" id="pylon_start" value=start>
    <input type="button" id="pylon_stop" value=stop>
  </span>
  <span class="update_buttons">
    <input type="button" id="pylon_refresh" class=refresh title="reload" value=" ">
    <span class="reload_time"> loaded at: {{ reload_time }} </span>
  </span>

  <div id=pylon_output class="out">[output]</div>
    <table id="pylontable" class="tablesorter">
      <thead>
        <tr>
          <th></th>
          <th>name</th>
          <th>hash</th>
          <th>identity</th>
          <th>start</th>
          <th>end</th>
          <th>index capacity</th>
          <th>volume</th>
          <th>status</th>
        </tr>
      </thead>
    </table>
</body>