<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tablesorter/themes/orange/style.css') }}">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script type="text/javascript" src="{{
  url_for('static', filename='tablesorter/jquery.tablesorter.js') }}"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $(document).ready(function() {

    $('#sourcestable').tablesorter(); 

    var clear_output= "<div><span class='clear_output' onclick='document.getElementById(\"source_output\").innerHTML = \"\";'>clear output</span></div>";

  //Managed Sources actions

    $('input#source_raw').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/source_get_raw',
      $( ".source:checked"), 
      function(data) {
        var formatted = "";
        for (i = 0; i < data.out.length; i++){
          var stringify = JSON.stringify(data.out[i], null, 4)
          formatted = formatted + "<pre>" + stringify + "</pre>";
        }
        formatted = formatted + clear_output;
        $("#source_output").html(formatted);
      });
      return false;
    });

    $('input#source_log').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/source_log',
      $( ".source:checked"), 
      function(data) {
        var formatted = "";
        for (i = 0; i < data.out.length; i++){
          var stringify = JSON.stringify(data.out[i], null, 4)
          formatted = formatted + "<pre>" + stringify + "</pre>";
        }
        formatted = formatted + clear_output;
        $("#source_output").html(formatted);
      });
      return false;
    });

    $('input#source_delete').bind('click', function() {
      var srcs = "";
      $( ".source:checked").each(function(){
        srcs = srcs + "\n" + $( this ).attr('name');
      });
      var confirm_delete = confirm("Are you sure you want to delete Managed Sources:\n " + srcs);
      if (confirm_delete == true){
        $.getJSON($SCRIPT_ROOT + '/source_delete',
        $( ".source:checked"), 
        function(data) {
          $("#source_output").text("Deleted: " + data.success + "\nNot deleted: " + data.fail);
          $.each(data.success, function( index, id ){
            $("#source_row_"+id).remove()
          });
        });
      }
      return false;
    });

    $('input#source_stop').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/source_stop',
      $( ".source:checked"), 
      function(data) {
        $("#source_output").text("Stopped: " + data.success + "\nNot stopped: " + data.fail);
        $.each(data.success, function( index, id ){
          $("#status_"+id).text("stopped")
        });
      });
      return false;
    });


    $('input#source_start').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/source_start',
      $( ".source:checked"), 
      function(data) {
        $("#source_output").text("Started: " + data.success + "\nNot started: " + data.fail);
        $.each(data.success, function( index, id ){
          $("#status_"+id).text("running")
        });
      });
      return false;
    });

    //load new tokens to Managed Sources

    $('input#source_token').bind('click', function() {
      var formatted = ""
      for (i=0; i < $( ".source:checked").length; i++){
        formatted = formatted + "<li>" + $( ".source:checked")[i].name + ' <input type="text" class=token name=' + $( ".source:checked")[i].name + ">" + "</li>";
      }
      
      if ($( ".source:checked").length > 0) {
        formatted = formatted + '<input type="button" value="Submit" id="token_submit" >';
        $("#source_submit").show();
      }
      
      $("#source_output").html(formatted);
      return false;
    });

    $('#source_output').on('click', '#token_submit', function() {
      $.getJSON($SCRIPT_ROOT + '/source_token',
      $( ".token:text"), 
      function(data) {
        $("#source_output").text("Added: " + data.success + "\nNot added: " + data.fail);
      
        $.each(data.success, function( index, id ){
          $("#status_"+id).text("running")

        });
      });
      return false;
    });

    $('#source_refresh').bind('click', function() {
      $('#sourceget').css('display') == 'none';
      $('#sourceget').slideToggle("fast");
      // loading gif
      $('#sources_load').css('display', 'block');
      $.get($SCRIPT_ROOT + '/source_get', 'reload=1', function(data){
        $('#sourceget').html(data).slideToggle("fast");
        $('#sources_load').css('display', 'none');
      });
    });
  });
</script>

</head>
<body>
  <span class="output_buttons"> 
    <input type="button" id=source_raw value="raw output">
    <input type="button" id="source_log" value=log>
  </span>
  <span class="control_buttons"> 
    <input type="button" id="source_start" value=start>
    <input type="button" id="source_stop" value=stop>
    <input type="button" id="source_delete" value=delete>
    <input type="button" id="source_token" value="add token">
  </span>
  <span class="update_buttons">
    <input type="button" id="source_refresh" class=refresh title="reload" value=" ">
    <span class="reload_time"> loaded at: {{ reload_time }} </span>
  </span>

  <div id=source_output class="out">
    [output] 
  </div>

  <table id="sourcestable" class="tablesorter">
    <thead>
      <tr>
        <th class="tg-031e"></th>
        <th class="tg-031e">Source Type</th>
        <th class="tg-031e">Name</th>
        <th class="tg-031e">ID</th>
        <th class="tg-031e">Resources</th>
        <th class="tg-031e">Parameters</th>
        <th class="sourcesauth">Auth</th>
        <th class="tg-031e">Created At (UTC)</th>
        <th class="tg-031e">Status</th>
      </tr>  
    </thead>
    <tbody>
  {% for entry in source %}
      <tr id="source_row_{{entry['id']}}">
        <td class="tg-031e"><input type="checkbox" class="source" name="{{entry['id']}}"></td>
        <td class="tg-031e">{{entry['source_type']}}</td>
        <td class="tg-031e">{{entry['name']}}</td>
        <td class="tg-031e">{{entry['id']}}</td>
        <td class="tg-031e">
          <ul>
  {% for r in entry['resources'] %}
            <li>
              {{r['resource_id']}}
              <ul>
  {% for p in r['parameters'] %}
                <li>{{p}}:{{r['parameters'][p]}}</li>
  {% endfor %}
              </ul>
            </li>
  {% endfor %}
          </ul>
        </td>
        <td class="tg-031e">
          <ul>
  {% for p in entry['parameters'] %}
          <li>{{p}}: {{entry['parameters'][p]}}</li> 
  {% endfor %}
          </ul>
        </td>
        <td class="sourcesauth">
          <ul>
  {% for a in entry['auth'] %}
            <li>id: {{a['identity_id']}}
  {% for k in a['parameters'] %}
              <ul><li>{{k}}: {{a['parameters'][k]}}</li></ul>
  {% endfor %}
            </li>
  {% endfor %}
          </ul>
        </td>
        <td class="tg-031e">{{entry['created_at']}}</td>
        <td class="tg-031e" id="status_{{entry['id']}}">{{entry['status']}}</td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
</body>