<head>

  <link rel="stylesheet" type="text/css" href="/static/DataTables/datatables.css">
  <!-- DataTables -->
  <script type="text/javascript" charset="utf8" src="/static/DataTables/datatables.min.js"></script>
  <script>
    $.ajax({
      url: "/source/get_json",
      dataType: 'json',
      beforeSend: function(){
        $('#sourcestable').hide();
        $('#source_output').text("[ please wait ]");
      },
      success: function (data) {
        $('#sourcestable').DataTable( {
          "data": data.data,
          dom: 'lBfrtip',
          "buttons": ['copy'],
          processing: true
        } )
        .draw();
        $('#sourcestable').show();

        if(data.error) {
          alert(data.error);
          $('#source_output').text(data.error);
        }
        else {
          $('#source_output').text("[ output ]")
        }
      } 
    });
  </script>
  <!-- <script type="text/javascript"> $('#sourcestable').DataTable(); </script> -->
</head>

<body>
  <span class="output_buttons"> 
    <input type="button" id=source_raw value="raw output">
    <input type="button" id="source_log" value=log>
  </span>
  <span class="control_buttons"> 
    <input type="button" id="source_start" value=start>
    <input type="button" id="source_stop" value=stop>
    <input type="button" id="source_delete" value=delete>
    <input type="button" id="source_token" value="add token">
  </span>
  <span class="update_buttons">
    <input type="button" id="source_refresh" class=refresh title="reload" value=" ">
    <span class="reload_time"> loaded at: {{ reload_time }} </span>
  </span>

  <div id=source_output class="out">
    [output] 
  </div>

  <table id="sourcestable" class="tablesorter">
    <thead>
      <tr>
        <th class="check_col"></th>
        <th>Source Type</th>
        <th>Name</th>
        <th>ID</th>
        <th>Resources</th>
        <th>Parameters</th>
        <th class="sourcesauth">Auth</th>
        <th class="time_col">Created At (UTC)</th>
        <th>Status</th>
      </tr>
    </thead>
  </table>
<!--
  {% if source is not string %}
    {% if source %}
    <table id="sourcestable" class="tablesorter">
      <thead>
        <tr>
          <th class="check_col"></th>
          <th>Source Type</th>
          <th>Name</th>
          <th>ID</th>
          <th>Resources</th>
          <th>Parameters</th>
          <th class="sourcesauth">Auth</th>
          <th class="time_col">Created At (UTC)</th>
          <th>Status</th>
        </tr>  
      </thead>
      <tbody>
      {% for entry in source %}
        <tr id="source_row_{{entry['id']}}">
          <td><input type="checkbox" class="source" name="{{entry['id']}}"></td>
          <td>{{entry['source_type']}}</td>
          <td>{{entry['name']}}</td>
          <td>{{entry['id']}}</td>
          <td class="sourcescol">
            <ul>
            {% for r in entry['resources'] %}
              <li>
              {{r['resource_id']}}
                <ul>
              {% for p in r['parameters'] %}
                  <li>{{p}}:{{r['parameters'][p]}}</li>
              {% endfor %}
                </ul>
              </li>
            {% endfor %}
            </ul>
          </td>
          <td>
            <ul>
            {% for p in entry['parameters'] %}
              <li>{{p}}: {{entry['parameters'][p]}}</li> 
            {% endfor %}
            </ul>
          </td>
          <td class="sourcescol">
            <ul>
            {% for a in entry['auth'] %}
              <li>id: {{a['identity_id']}}
              {% for k in a['parameters'] %}
                <ul><li>{{k}}: {{a['parameters'][k]}}</li></ul>
              {% endfor %}
              </li>
            {% endfor %}
            </ul>
          </td>
          <td>{{entry['created_at']}}</td>
          <td id="status_{{entry['id']}}">{{entry['status']}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p> [ No Managed Sources available ] <p>
    {% endif %}
  {% else %}
    <p> {{ source }} </p>
  {% endif %}
-->
</body>