<head>
  <link rel="stylesheet" type="text/css" href="static/tablesorter/themes/orange/style.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script type="text/javascript" src="static/tablesorter/jquery.tablesorter.js"></script>
  <script type="text/javascript"> $('#usagetable').tablesorter(); </script>
</head>

<body>
  <span class="output_buttons"> 
    <input type="button" id="usage_raw" value="raw output">
  </span>
  <span class="update_buttons">
    <input type="button" id="usage_refresh" class=refresh title="reload" value=" ">
    <span class="reload_time"> loaded at: {{ reload_time }} </span>
  </span>
  <div id=usage_output class="out">[output]</div>

    <p>Period: ({{ acct['start'] }} - {{ acct['end'] }})</p>
    {% if acct['streams'] %}
    <table id="usagetable" class="tablesorter">
      <thead>
        <tr>
          <th>Stream Hash</th>
          <th>License Volumes</th>
          <th>Running Time (seconds)</th>
        </tr>
      </thead>
      <tbody>
    {% for s in acct['streams'] %}
        <tr>
          <td>{{s}}</td>
          <td>
            <ul>
    {% for l in acct['streams'][s]['licenses'] %}
            <li> {{l}} : {{acct['streams'][s]['licenses'][l]}} </li>
    {% endfor %}
            </ul>
          </td>
          <td>{{acct['streams'][s]['seconds']}}</td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p> [ No usage data for this period ] </p>
    {% endif %}
</body>